* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 18px;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}
ul {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
.flex-container {
  display: flex;
}
.insta-card {
  display: flex;
  flex-direction: column;
  max-width: 614px;
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
.card-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding: 16px;
  height: 60px;
}
.poster-avatar {
  margin-right: 12px;
}
.poster-avatar img {
  border-radius: 50%;
  border: 1px solid #dddddd;
  height: 30px;
  width: 30px;
}
.card-image {
  width: 100%;
  margin: 0;
  padding: 0;
}
.card-image img {
  height: 450px;
  width: 613px;
  border: 0;
  background-color: #dddddd;
}
.card-main {
  padding: 0 16px;
}
.card-main-icons {
  margin-top: 4px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.card-main-icons ul>li {
  margin-right: 5px;
}
.like-counts {
  font-weight: bold;
  margin-bottom: 8px;
}
.comments {
  margin-bottom: 4px;
}
.comments a {
  margin-right: .3em;
}
.comment-box {
  border-top: 1px solid #efefef;
  color: #999;
  min-height: 56px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
.post-date {
  margin-bottom: 4px;
  font-size: 10px;
  letter-spacing: .2px;
  color: #999;
  margin-bottom: 5px;
  text-transform: uppercase;
}